:root {
	--color-black: #1f1f1f;
	background-color: var(--color-black);
	color: aquamarine;
	text-align: center;
	font-size: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-areas:
		'. header .'
		'left app right'
		'left main right';
	grid-template-columns: auto 60% auto;
}

body header {
	grid-area: header;
}

#app {
	grid-area: app;
}

#left {
	grid-area: left;
	background-color: blue;
}

#right {
	grid-area: right;
	background-color: blue;
}

body main {
	grid-area: main;
}
